
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>

<body>

    <div>
        <div class="jumbotron" style="text-align:center;background-color:#ffffff;">
            <h1>welcome to minesweeper</h1>
            <p>this minesweeper is built upon the ASP.NET framework. click the button below to get started!</p>
            <p><a class="btn btn-default" role="button" href="/Registration">Sign Up</a></p>
        </div>
    </div>

</body>
</html>



