<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li><a href="/Index">Home</a></li>
            <li><a href="/TeamMembers">Team Members</a></li>
        </ul>
        <p class="copyright">Connor &amp;&amp; Mick © 2018</p>
    </footer>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
