<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li><a href="~/">Home</a></li>
            <li><a href="/TeamMembers">Team Members</a></li>
        </ul>
        <p class="copyright">Connor &amp;&amp; Mick © 2018</p>
    </footer>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
