<div>
    <nav class="navbar navbar-default navigation-clean-button">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Login/Home">Minesweeper </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation">
                        <a href="/TeamMembers">Team Members</a>
                    </li>
                    @if (Session["user"] != null)
                    {
                        <li role="presentation">
                            <a href="~/Game" >New Game</a>
                        </li>
                    }
                </ul>
                <p class="navbar-text navbar-right actions" style="background-color: #ffffff;">
                    <a class="btn btn-default action-button" role="button" href="~/Login/Logout" style="background-color: #b7ffc3;">Logout </a>
                </p>
            </div>
        </div>
    </nav>
</div>