
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body style="background-color:#cccccc;">
    <div>
        <nav class="navbar navbar-default navigation-clean-button" style="background-color:#be5049;">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="../Login/Index.cshtml" style="color:#ffffff;">Minesweeper </a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="#" style="color:#ffffff;">Contact Us</a></li>
                    </ul>
                    <p class="navbar-text navbar-right actions"><a class="navbar-link login" href="../Login/Login.cshtml" style="color:#ffffff;">Log In</a> <a class="btn btn-default action-button" role="button" href="../Login/Registration.cshtml" style="background-color:#429db1;">Sign Up</a></p>
                </div>
            </div>
        </nav>
    </div>
    <div class="register-photo" style="background-color:#cccccc;">
        <div class="form-container" style="/*max-width:initial;*/">
            <form method="post" style="background-color:#be5049;width:607px;">
                <h2 class="text-center" style="color:#cccccc;"><strong>Create</strong> an account.</h2>
                <div class="form-group"><input class="form-control" type="text" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:#429db1;">Sign Up</button></div><a href="../Login/Login.cshtml" class="already" style="color:#cccccc;">You already have an account? Login here.</a>
            </form>
        </div>
    </div>
    <div id="FooterDiv" style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#cccccc;">
        <ul class="list-inline">
            <li><a href="../Login/Index.cshtml">Home</a></li>
            <li><a href="#">Team Members</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <p class="copyright">Minesweeper © 2018</p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
