
@{
    Layout = null;
    /* version 0.2
    Connor, Mick
    CST-256 
    January 24, 2018 
    This assignment was completed in collaboration with Connor Low, Mick Torres. 
    We used source code from the following websites to complete this assignment: N/ A 
    */
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Failed</title>
</head>
<body>
<div>
    UH OH. YOU DID NOT MAKE IT TO THE USER HOMEPAGE. TRY AGAIN (test, test).
    <a href="/Login"> Click here to login again</a>
</div>
</body>
</html>
