
@{
    ViewBag.Title = "LoginFailed";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>

<body>

    <div>
        UH OH. YOU DID NOT MAKE IT TO THE USER HOMEPAGE. TRY AGAIN (test, test).
    <a href="/">Click here to login again</a>
    </div>

</body>
</html>

