
@{
    ViewBag.Title = "UserHomePage";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>

<body>

    <div>
        <div class="jumbotron" style="background-color:#ffffff;">
            <h1 style="text-align:center;">user home</h1>
            <br />
            <a href="~/Game">Play game</a>
        </div>
    </div>

</body>
</html>

