
@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Homepage</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body style="background-color:#cccccc;">
    <div>
        <nav class="navbar navbar-default navigation-clean-button" style="background-color:#be5049;">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="/Login" style="color:#ffffff;">Minesweeper </a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="#" style="color:#ffffff;">Contact Us</a></li>
                    </ul>
                    <p class="navbar-text navbar-right actions"> <a class="btn btn-default action-button" role="button" href="/Login" style="background-color:#429db1;">Log Out</a></p>
                </div>
            </div>
        </nav>
    </div>
    <form>
        <div id="HeadingDiv" style="height:600px;background-color:#cccccc;">
            <div class="jumbotron">
                <h1>CONGRATS. YOU MADE IT</h1>
                <p>TEST USER HOME PAGE </p>
                <p><a class="btn btn-default" role="button" href="#">THIS DOES NOTHING</a></p>
            </div>
        </div>
        <div id="FooterDiv" style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#cccccc;">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li><a href="#">Team Members</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <p class="copyright">Minesweeper © 2018</p>
        </div>
    </form>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
