@using CLC.Models
@model CLC.Models.User
@{
    ViewBag.Title = "UserHomePage";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<style>


</style>

<!DOCTYPE html>

<html>

<body>

    <div>
        <div class="jumbotron" style="background-color:#ffffff;">
            <h1 style="text-align:center;">user home</h1>
            
            <div align="center">
                <a href="~/Game">Play game</a>
            </div>
            
        </div>
    </div>

</body>
</html>

