@{
    Layout = null;
    /* version 0.2
    Connor, Mick
    CST-256 
    January 28, 2018 
    This assignment was completed in collaboration with Connor Low, Mick Torres. 
    We used source code from the following websites to complete this assignment: N/ A 
    */
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Homepage</title>
</head>
<body>
<div class="container">
    <div class="pageTitle">
        <h1>Home</h1>
    </div>
    <div id="welcomeHome">
        <p>Sign-in successful.</p>
        <p></p>
    </div>
    <a href="Logout">Sign out</a>
</div>
</body>
</html>