
@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>

<body>

    <div>
        UH OH. YOU DID NOT MAKE IT TO THE USER HOMEPAGE. PERHAPS YOU USED A DUPLICATE USERNAME.
        <a href="/Registration"> Click here to go back</a>
    </div>

</body>
</html>

