@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Home</h1>
    </div>
    <div class="nav">
        <a href="Login">Sign in</a>
        <a href="Register">Create an account</a>
    </div>
</div>
</body>
</html>

