
@{
    ViewBag.Title = "TeamMembers";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>

<body>

    <div class="team-clean">
        <div class="container" style="width:720px;">
            <div class="intro">
                <h2 class="text-center">Team Members</h2>
                <p class="text-center">Here is the team who brought you Minesweeper!</p>
            </div>
            <div class="row people" style="width:100%;">
                <div class="col-md-4 col-sm-6 item" style="width:340px;">
                    <img class="img-circle" src="assets/img/ConnorProf.jpg">
                    <h3 class="name">Connor Low</h3>
                    <p class="title">ADMIN / DEVELOPER / PROGRAMMER</p>
                    <p class="description">Hello. I am Connor.</p>
                </div>
                <div class="col-md-4 col-sm-6 item" style="width:340px;">
                    <img class="img-circle" src="assets/img/DSC_0607 (2).jpg">
                    <h3 class="name">Mick Torres</h3>
                    <p class="title">ADMIN / DEVELOPER / PROGRAMMER</p>
                    <p class="description">Hello. I am Mick.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

