<div>
    <nav class="navbar navbar-default navigation-clean-button">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="/Index">Minesweeper </a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="/TeamMembers">Team Members</a></li>
                </ul>
                <p class="navbar-text navbar-right actions" style="background-color:#ffffff;"> <a class="btn btn-default action-button" role="button" href="/Login" style="background-color:#b7ffc3;">Login </a><a class="btn btn-default action-button" role="button" href="/Registration" style="background-color:#b7bfff;">Sign Up</a></p>
            </div>
        </div>
    </nav>
</div>
