@model CLC.Services.Business.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Game</title>
</head>
<body>
<div>
    <div class="minesweeper">
        <div class="status">
            @if (Model.Lose)
            {
                <h3 class="alert-danger">GAME OVER</h3>
            }
            else if(Model.Win)
            {
                <h3 class="alert-success">YOU WON</h3>
            }
        </div>
        <table>
            @for (int y = 0; y < Model.Height; y++)
            {
                <tr>
                    @for (int x = 0; x < Model.Width; x++)
                    {
                        <td>
                            @using (Html.BeginForm("Play", "Game"))
                            {
                                <button type="submit" name="cell"
                                        @{
                                            //todo add win or lose display logic

                                            // class to determine how to display
                                            if (Model.Cells[x, y].Checked)
                                            {
                                                @:class="cell cell-checked cell-adjacent-@Model.Cells[x, y].Adjacent"
                                                @:disabled
                                            }
                                            else
                                            {
                                                @:class="cell"
                                            }
                                        }>

                                </button>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
</body>
</html>