@model CLC.Models.CellGrid
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var ajax = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ajax-target",
        OnSuccess = "ajaxSuccess"
    };
    // var script = @"$('#boardForm').trigger('submit');";
}
<style>
    #boardForm {
        width: 100%;
    }

    #ajax-target {
        margin: auto;
    }
     .minesweeper {
         margin: auto;
         background: #333;
         padding: 50px 0;
         border-radius: 8px;
     }

    .board {
        margin: auto;
        display: block;
        padding: 0;
        border: 2px solid black;
        margin: 0;
    }

    .board button:after {
        padding: 0;
        margin: 0;
    }

    .grid-row {
        margin: 0;
        display: flex;
        justify-content: center;
        padding: 0;
        height: 30px;
        font-size: 0; /* remove space between cells*/
    }

    .cell {
        width: 30px !important;
        height: 30px !important;
        display: inline-block;
        padding: 0;
        margin: 0;
        border: solid #777 1px;
        background: #999;
        font-size: 12px;
        font-weight: bold;
        color: #999;
        border-radius: 4px;
    }

    .mine {
        background: #f33;
        border-color: #c11;
        color: #f33;
    }

    .flag {
        background: #3f3;
        border-color: #1c1;
    }

    .cell-lose {
        border: 1px solid #f00;
        color: white;
    }

    .cell-win {
        border: 1px solid #5a5;
        color: white;
    }

    .cell-checked {
        border: 1px solid grey;
        background: white;
        color: white;
    }

    .cell-adjacent-1 {
        background: darkslateblue;
    }

    .cell-adjacent-2 {
        background: darkseagreen;
    }

    .cell-adjacent-3 {
        background: #ffbb33;
    }

    .cell-adjacent-4 {
        background: #33cccc;
    }

    .cell-adjacent-5, cell-adjacent-6 {
        background: #400000;
    }

    .cell-adjacent-7, cell-adjacent-8 {
        background: coral;
    }
</style>
<div class="container">
    <div class="row" style="margin: 0 auto 50px; width: 100px; text-align: center">
        <a href="~/Game">New Game</a>

    </div>
    <h4>@DateTime.Now</h4>
    <div class="center-pls">
        @using (Ajax.BeginForm("Play", "Game", ajax, new {id = "boardForm", @class = "col-md-10"}))
        {
            @Html.AntiForgeryToken()
            <div id="ajax-target">
                @Html.Partial("_Board", Model)
            </div>
        }
    </div>
    <div class="row">
        @using (Html.BeginForm("Save", "Game", FormMethod.Get))
        {
            <input type="submit" value="Save Game"/>
        }
    </div>
</div>