@model CLC.Services.Business.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Game</title>
</head>
<body>
<div>
    <table>
        @for (int y = 0; y < Model.Height; y++)
        {
            <tr>
                @for (int x = 0; x < Model.Width; x++)
                {
                    <td>
                        @using (Html.BeginForm("Play", "Game"))
                        {
                            <button type="submit" name="cell"
                                    @{
                                        //todo add win or lose display logic

                                        if (Model.Cells[x, y].Checked)
                                        {

                                            // class to determine how to display
                                            @:class="cell cell-checked cell-adjacent-@Model.Cells[x, y].Adjacent"
                                        }
                                        else
                                        {
                                            @:class="cell"
                                        }
                                    }>

                            </button>
                        }
                    </td>
                }
            </tr>
        }
    </table>
</div>
</body>
</html>