@model List<CLC.Models.CellGrid>
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container" align="center">
    <div class="row">
        <div class="col" align="center">
            <h3>Select game size:</h3>
            @using (Html.BeginForm("Select", "Game"))
            {
                <button type="submit" name="size" value="small" class="">Small</button>
                <button type="submit" name="size" value="medium" class="">Medium</button>
                <button type="submit" name="size" value="large" class="">Large</button>

                <br/>
                <br/>
            }
            @foreach (var e in Model)
            {
                using (Html.BeginForm("LoadGame", "Game"))
                {
                    <button type="submit" name="id" value="@e.Id">Time: @e.Time Moves: @e.Moves</button>
                }
            }
        </div>
    </div>
</div>